*{
    margin: 0px;
    padding: 0px;
}

#imagem{
    position: absolute;
    margin-top: -26px;
    margin-left: -12px;
   

}

body{

    
    background: url('../images/areaCandidato.jpg');
    background-size: cover;
    background-position: 20% 0%; 
    font-family: Arial;
    
    
}
#menu ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#menu ul li{
    padding: 0px;
    
    float: right;
    width: 290px;
    height: 40px;
    background-color: #FF0066;
    opacity:0.8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-left: 3px;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    font-family: inherit;
    display: block;
}
#menu ul li a:hover{
    background-color: #FFC0CB;    
}
#menu ul li ul li{
    display: none;
}

#menu ul li:hover ul li{
    display: block;
}


input{
    display: inline-block;
    height: 60px;
    width: 700px;
    margin: -100px;
    margin-top: 300px;
    margin-left: 150px;
    border-radius: 30px;
    border:1px solid black;
    font-size: 32px;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.3);
    color: black;
    outline: none;

}


#pesquisar form {
    position: absolute;
   /* background-color: red;*/ 
    margin-top: 50px;
    margin-left: 50px;
    


    
    
}


#pesquisar  p {
    position: absolute;
    text-align: center;
    margin-top: 260px;
    margin-left: 350px;
    font-size: 54px;
    color: black;
    font-family: 'Consolas';

    
    
}


input[type=submit]{
    background-color: #FF0066;
    border: none;
    cursor: pointer;
    height: 55px;
    width: 200px;
    border-radius: 0px;
    color: white;

}

